# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [7]:
number = 6

print(number)

number = 5

print(number)

number = 8
print(number)


number = 12
print(number)

number = 98
print(number)

6
5
8
12
98

##### Assinging float

In [8]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.4

result = num1 + num2

result += 2
print(result)

9.4

##### Subtraction

In [17]:
result  = num2 - num1

result -= 1

print(result)

2.4000000000000004

##### Multiplication

In [18]:
result = num1 * num2

result *= 2

print(result)

21.6

##### Division

In [21]:
result = num2/num1

result /= 2

print(result)

1.35

##### Floor Division

In [24]:
num1 = 5
num2 = 2

result = num1/num2

floor_result = num1//num2

print(result)
print(floor_result)

2.5
2

##### Modulo

In [25]:
result = num1 % num2

print(result)

1

##### Exponential

In [26]:
square = 5**2

print(square)

25

### String Input-Output

##### String Assignment

In [27]:
name = "Pavol"

print(name)

Pavol

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print("This is my first " ,name)

print(name, end="Medved")

This is my first  Pavol
PavolMedved

##### String Concatenation

In [36]:
first_name = "Pavol"
last_name = "Medved"

full_name = first_name + last_name
print(full_name)

PavolMedved

##### Type Conversion

In [39]:
number = "32"

# number + 2 -- This will give an error -- A string can't be concatenated with a integer

change_type = float(number)

print(number)
print(change_type)

32
32.0

##### input()

In [1]:
 # this is a single comment
    
age = input("What is your age?")
print(age)

value_of_age = int(age) + 2
print(value_of_age)

# this is another comment

What is your age?32
32
34

##### format()

In [4]:
# ask user for age
age = input("Whats is your age?")

# print out a formatted string with their age

# print('You are {} years old, and I am {} years old'.format(age, 34))
result_string = "You are {} and you are getting old!".format(age)

print(result_string)

Whats is your age?32
You are 32 and you are getting old!

##### Old Way (python 2)

In [8]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

result_string2 = "You are %s and you look great for your age!" % age
print(result_string2)

You are 32 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
color = input("What is the Color of your car?")
year = input("What is the Year of your car?")
make = input("What is the Make of your car?")
model = input("What is the Model of your car")

results_of_car = "The car color is{},the car's year is {}, the car's year is {}
the car's make is {} and the car's model is {}.".format(color, year, make,model)
print(result_of_car)

SyntaxError: EOL while scanning string literal (<ipython-input-18-b64e399c1a68>, line 6)

### If Statements

In [21]:
num_1 = 5
num_2 = 10

if num_1 == num_2:
    print("Equal nubers")
if num_2 > num_1:
    print("I am the greatest")

I am the greatest

In [22]:
# use is when checking for same object, not same value


num3 = None

if num3 is None:
    print("This has no value")

This has no value

##### 'in' keyword

In [25]:
# check if char in name

name = "Max Payne"

if "m" is name:
    print("The characterr that lost everything!")

##### 'not in' keyword'

In [26]:
name = "max Payne"

number = "34"

if "a" not in number:
    print("a is not not in the number")

a is not not in the number

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [29]:
answer = input("Lets type letter p.")

if 'p' in answer:
    print("you win lunch")

Lets type letter p.oeoeoep
you win lunch

## Using 'and'/'or' with If Statements

In [9]:
# when using 'and' keyword, checks to see if true and true
num1 = 15
num2 = 3
num3 = 10
num4 = 3

# if num1 == num2 and num1 == num3:
#     print('True and true')

if num1 > num2 and num1 > num3:
    print("Both sides are true")

# when using 'or' keyword, checks to see if one side is true

if (num2 == num4 and num1 == num3) or num1 > num2:
    print('False and true')
    
if num1 > num2 or num3 > num1:
    print("True and False")

Both sides are true
False and true
True and False

### Elif Statements

In [13]:
first_name = "Max"

if firs_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("My name is not Max")
else:
    print("My name is Max")

NameError: name 'firs_name' is not defined

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [17]:
age = int(input("How old are you?"))

if age < 18:
    print("Kids")
elif age >= 18 and age <65:
    print:("Adults")
else:
    print("Senior")

How old are you?65
Senior

### For Loops

In [20]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Max Payne"

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [5]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [4]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [6]:
for i in name:
    pass # to do coome back here later

SyntaxError: unexpected EOF while parsing (<ipython-input-6-ee3d28f3b8ac>, line 3)

##### Double For Loops

In [7]:
for i in range(5):
    for j in range(5):
        print("i = {}, j = {}".format(i,j))

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [10]:
# based on a conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [1]:
game_over = False

while True:
    print("Infinity Loop")
    if game_over == False:
        break

Infinity Loop

While & For Loops Used Together

In [3]:
num = 0
 while num < 5:
        print("While loop interation" + str(num))
        
        for i in range(2):
            print("For loop interatoin" + str(i))
            
        num += 1

IndentationError: unexpected indent (<ipython-input-3-15e6024746cc>, line 2)

### Built-In Functions

##### range()

In [2]:
# start, stop, step
for i in range(20, 0, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

##### len()

In [6]:
# check length of variable
name = "Max"

lenght = len(name)
print(lenght)

for i in range(len(name)):
    print(name(i))

# print(length)

3

TypeError: 'str' object is not callable

##### help()

In [11]:
# to view more information on a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [13]:
# isinstance(var, type)
if isinstance(4.5,float):
    print("This is a float")

This is a float

##### abs()

In [16]:
abs(-5)

5

### Try and Except

In [27]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
try:
    number_test = 0
    print("Your number is" + str(number_test))
            
except:
    print("That did not work -- ERROR Number 304")

Your number is0

### Lists

##### Declaring Lists

In [29]:
l_1 = [] # Declaring an empty list

names = ["Max", "Cindy","Kathy", "Bob"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [36]:
# [-1], [start: stop: step]

# print(names[0])
print(names[0])

# print(names[1:]) # starts at 1 goes to end
print(names[1:])

# print(names[:2]) # starts at beginning prints index 0 and 1
print(names[:2])

# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1::2])

# print(names[::-1]) # reverse printed order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [39]:
names.append("Pavol")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Pavol']

##### .insert()

In [41]:
# list.insert(index, value)
names.insert(0,"Jimmy")
print(names)

['Jimmy', 'Max', 'Cindy', 'Kathy', 'Bob', 'Pavol']

##### .pop()

In [44]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
result = names.pop()
print(result)
print(names)

Kathy
['Jimmy', 'Max', 'Cindy']

##### .remove()

In [47]:
# value to be removed, not index

names.remove("Jimmy")
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [48]:
# index to be removed, not value
# be careful with del, can cause indexing errors
print(names) 

del(names[0])

print(names)

['Max', 'Cindy']
['Cindy']

##### Concatenating Two Lists

In [49]:
# will append two lists together, not add up elements in each list

l_1 = [3,4,5]
l_2 =[0,1,2]

large_list = l_1 + l_2

print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [53]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other
names = ["Max","Sam","Josh",["Sally", "Sue","Tameka"]]

print(names)
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sally

##### Looping Through Lists

In [57]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names = ["Jim","Sally","Fred","Lucas"]

for i in range(len(first_names)):
    print(first_names[i])
    
    
last_name = "Carter"    
for char in last_name:
    print(char)
#Loop with a for Loop


# loop based on index

Jim
Sally
Fred
Lucas
C
a
r
t
e
r

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

In [108]:
for i in range(6):
    print(' ' * (6 - i) + 'x ' * i )

     x
    x x
   x x x
  x x x x
 x x x x x

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [105]:
# We want 1000 values
# If cubed number is over 100 Breka from loop

for i in range(1000):
    num = i**3
    
    if num > 1000:
        break
    else:
            print(num)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [109]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,100):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

In [5]:
num1 = input("number One: ")
num2 = input("Number Two: ")


    
try:
    num1 = float(num1)
    num2 = float(num2)
    
    if num1 and num2 != None:
        result = num1 + num2
        
        print("{} + {} = {}".format(num1,num2,result))
except:
    print("You did not enter a proper number")

number One:
Number Two:
You did not enter a proper number

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>

In [ ]:
num1 =input("Number one")
num2 = input("Number two")
answer =input("Do you want to: Substract/Multiply/Add/Divide?")
try:
    num1 = float(num1)
    num2 = float(num2)
    
    if num1.is_integer():
        num1 = int(num1)
    if num2.is_integer():
        num2 = int(num2)
        
    if answer.lower() =="add":
        result = num1 + num2
        print("{} + {} = {}".format(num1,num2, result))
    elif answer_lower() == "substract":
        result = num1 -num2
        print("{} + {} = {}".format(num1,num2, result))
    elif answer_lower() == "multiply":
        result = num1 * num2
        print("{} + {} = {}".format(num1,num2, result))
    elif answer_lower() == "divide":
        result = num1/num2
        print("{} + {} = {}".format(num1,num2, result))
        
except:
    print("Hey, you didn't give me a real number dude!")